# random number template
snippet $rnd 
	mt19937 rng(chrono::steady_clock::now().time_since_epoch().count());

	int rnd() {
		return uniform_int_distribution<int> (1, (int) 1e9) (rng);
	}

	template<class A> 
	A rnd(A x, A y) {
		return uniform_int_distribution<A> (x, y) (rng);
	}
