snippet $euclid
	template<class T> T gcd(T a , T b , T& x , T& y) {
	 if(b == 0) { x = 1 , y = 0; return a; }
	 T x1 , y1;
	 T gd = gcd(b , a % b , x1 , y1);
	 x = y1;
	 y = x1 - (a / b) * y1;
	 return gd; 
	}
